<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lcwu.fyp.asistio">

    <uses-permission android:name="android.permission.ACCEPT_GPS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <activity
            android:name=".activities.MobileModel"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activities.ViewLastLocation"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShowSingleVideo"
            android:parentActivityName=".activities.ShowVideos"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.mzelzoghbi.zgallery.activities.ZGridActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Dashboard" />
        </activity>
        <activity
            android:name=".activities.ShowNotes"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShowAudios"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShowVideos"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShowDocuments"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ShowContacts"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ReadContacts"
            android:parentActivityName=".activities.SmsSchedular"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".activities.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.SplashActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ForgotPasswordAcitivity"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SpeechNotes"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.AutoReply"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SmsSchedular"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SetCommand"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <!-- SERVICES -->
        <service
            android:name=".services.AllContactsUploadService"
            android:enabled="true" />
        <service
            android:name=".services.ContactUploadService"
            android:enabled="true" />
        <service
            android:name=".services.ScanMediaService"
            android:enabled="true" />
        <service
            android:name=".services.UploadService"
            android:enabled="true" />
        <service
            android:name=".services.DownloadService"
            android:enabled="true" />
        <!-- BROAD CAST RECEIVERS -->
        <receiver android:name=".receivers.ContactReceiver" />
        <receiver
            android:name=".receivers.MessageReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="5822">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>